
body {
   background: #B0E0E6;
}

header .container   {
 margin: auto; 
 width: 100%;
 
 
}

h1 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
   text-align: center;
   color: #000000;    
}

.titulo {
   font-weight: bold;
   margin-bottom: 5px;
}

.corpo {
   margin-bottom: 5px;
}

.linha-titulo {
   margin-bottom: 20px;
}

.linha-corpo {
   margin-bottom: 10px;
   border-bottom: solid;
}

h3 {
   text-align: center;
}

a {
   color: #000000;
}




